<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Details</title>
</head>
<body>
    <%- include ('../includes/navBar.ejs') %>
    <div class="container">
        <% if (art !== null) { %>
        <article>
            <header>
                <h1><%= stuff.name %></h1>
            </header>
            <div>
                <img src="<%= stuff.imageFile %>" alt="<%= stuff.name %>" style="width:500px;">
            </div><br>
            <div>
                <p><%= art.description %></p>
            </div>
        </article>
        <% } else { %>
        <h1>No items found!</h1>
        <% } %>
    </div>
</body>
</html>