<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
    <%- include ('../includes/navBar.ejs') %>
    <div class="add-edit">
        <div>
            <form action="./edit-stuff?_csrf=<%= csrfToken %>" method="POST" enctype="multipstuff/form-data">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <br><img src= "/<%= stuff.image %>"></img><br>
                <label for="title">Title</label><br>
                <input type="text" name="title" id="title" value="<%= stuff.title %>"><br>
                <label for="description">Description</label><br>
                <input type="text" name="description" id="decription" value="<%= stuff.description %>"><br>
                <label for="image">Image</label><br>
                <input type="file" name="image" id="image" value="/<%= stuff.image %>"><br>
                <label for="image">Tags: </label>
                <input type="text" name="tags" id="tags" value="<%= tags %>">
                <input type="hidden" name="stuffId" id="stuffId" value="<%= stuff._id %>"><br>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</body>
</html>