<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuff Details</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
    <%- include ('../includes/navBar.ejs') %>
    <div class="stuff-view">
        <% if (stuff !== null) { %>
        <stufficle>
            <div>
                <img src="<%= stuff.image %>" alt="<%= stuff.title %>">
            </div><br> 
            <header>
                <h1><%= stuff.title %></h1>
            </header>
            <div>
                <p><%= stuff.description %></p>
            </div>
            <p><%= tags %></p>
        </stufficle>
        <% } else { %>
        <h1>No items found!</h1>
        <% } %>
    </div>
</body>
</html>